/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

main {
  flex: 1;
}

.content {
  background-color: #f5f5f5;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.sidebar {
  background-color: #f5f5f5;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-left: 20px;
}

/* Media Query para dispositivos móviles */
@media (max-width: 768px) {
  .container {
      flex-direction: column;
  }
  
  .sidebar {
      margin-left: 0;
  }
}
